.blog-img img{
    width: 350px;
    height: 250px;
}
.blog-desc{
    display: flex;
    justify-content: space-between;
}
.blog-card{
    margin-right: 35px;
}
.blog-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.blog-heading{
    text-align: center;
}
.blog-heading span{
    font-size: 12px;
    color: #a5a5ab;
    font-family: "Muli", Arial, sans-serif;
}
.blog-heading h2{
    font-size: 34px;
    color: black;
    font-family: "Muli", Arial, sans-serif;
}
.blog-title span{
    font-family: "Muli", Arial, sans-serif;
}
.yellow-hover:hover{
    color: yellow;
}
@media only screen and (max-width: 1360px) {
    .jujutsu{
        gap: 10px;
    }
  }

  @media only screen and (max-width: 990px) {
    .blog-card{
        margin-right: 15px;
    }
  }